<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="list-group">
    <!--
    <a href="#" class="list-group-item active">Menu</a>
    -->
    <%= link_to "Step 0: Important notices", home_being_updated_path, class: "list-group-item active" %>
        <%= link_to "++ Project description", home_being_updated_path, class: "list-group-item" %>
        <%= link_to "++ Choosing a domain name", home_being_updated_path, class: "list-group-item" %>
        <%= link_to "++ Choosing a group nickname", home_being_updated_path, class: "list-group-item" %>

    <%= link_to "Step 1: Project establishments", home_being_updated_path, class: "list-group-item active" %>
        <%= link_to "++ Using Github", home_being_updated_path, class: "list-group-item" %>
        <%= link_to "++ Google Docs", home_being_updated_path, class: "list-group-item" %>

    <%= link_to "Step 2: Environment setup", step2_git_setup_path, class: "list-group-item active" %>
        <%= link_to "++ Git Setup", step2_git_setup_path, class: "list-group-item" %>
        <%= link_to "++ MySQL Setup", step2_mysql_setup_path, class: "list-group-item" %>
        <%= link_to "++ Rails Setup", step2_rails_setup_path, class: "list-group-item" %>
        <%= link_to "++ Rails application and bundles", step2_rails_app_path, class: "list-group-item" %>

    <%= link_to "Step 3: HTML Template", step3_index_path, class: "list-group-item active" %>

    <%= link_to "Step 4: Frontend development", home_being_updated_path, class: "list-group-item active" %>
        <%= link_to "++ Installing bootstrap", home_being_updated_path, class: "list-group-item" %>
        <%= link_to "++ Creating bootstrap layout", home_being_updated_path, class: "list-group-item" %>
        <%= link_to "++ Test your layout", home_being_updated_path, class: "list-group-item" %>
        <%= link_to "++ Create views based on sitemap", home_being_updated_path, class: "list-group-item" %>

    <%= link_to "Step 5: Backend development", step5_design_database_path, class: "list-group-item active" %>
        <%= link_to "++ Design database", step5_design_database_path, class: "list-group-item" %>
        <%= link_to "++ Creating models", step5_design_database_path, class: "list-group-item" %>
        <%= link_to "++ Database migrations", step5_design_database_path, class: "list-group-item" %>
        <%= link_to "++ Using ActiveAdmin", step5_using_activeadmin_path, class: "list-group-item" %>

    <%= link_to "Step 6: Data entry-ing", home_being_updated_path, class: "list-group-item active" %>

    <%= link_to "Step 7: Testing & Debugging", home_being_updated_path, class: "list-group-item active" %>

    <%= link_to "Step 8: Deployment", home_being_updated_path, class: "list-group-item active" %>

    <%= link_to "Step 9: Up and Running", home_being_updated_path, class: "list-group-item active" %>
  </div>
</div><!--/.sidebar-offcanvas-->