<!DOCTYPE html>
<html>
<head>
  <title>AIW 2014 Guidelines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "AIW Guidelines", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= active_link_to "Home", home_index_path, :wrap_tag => :li %>
        <%= active_link_to "About", home_about_path, :wrap_tag => :li %>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">
      <%= yield %>

      <%= render :partial => "layouts/right_menu" %>

      <hr>

      <footer>
        <p>&copy; Ha Quang Minh 2014</p>
      </footer>
  </div>

</div><!--/.container-->

</body>
</html>
